/* Colors and fonts */
body {
	background-color: #FEF9F2; 
	color: #7FA1C3; 
	font-family: Helvetica;
	font-size: 17px;
}

h1 {
	color: #6482AD; 
	font-family: Helvetica; 
	font-size: 32px; 
	text-transform: uppercase;
}

h2 {
	color: #6482AD;
	font-size: 26px;
}

a {
	text-decoration: none;
	color: #7FA1C3;
}

a:hover {
	color: #6482AD;
}

.img-circle { 
    border-radius: 50%;
	width: 30px;
}

/* Custom design with class */
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 500px) {
	.container {
	width: 400px
	}
}

@media (max-width: 760px) {
	.container {
	width: 
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0;
	text-align: center;
}

.image-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #7FA1C3;
	color: white;
	padding: 11px 15px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: #6482AD;
	color: white;
}

.list-horizontal {
	list-style: none;
	padding-left: 0px;
}

.list-horizontal li {
	display: inline;
	padding: 10px;
	font-size: 50px;
}

#intro p {
	margin-bottom: 40px;
}